body{
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}
.name2,.date,.id,.univ,.spe,.cyc,.level{
    display: flex;
    flex-direction: row;
    border-top: rgb(80, 79, 79) solid 1px;
    justify-content: space-between;
}
.con{
    background-color: #efefef;
    padding: 25px;
    width: 50%;
    border:rgb(151, 149, 149) solid 1px;
    border-radius: 25px;
    margin-top: 10%;
}
.name1{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
@media (max-width:1600px){
    .con{
        width: 85%;
    }
}