table {
    width: 100%;
    height: 100vh;
    font-weight: bold;
    border-collapse: collapse; /* Removes double borders */
    font-family: sans-serif;
    border: 2px solid black; /* Adds a border around the table */
  }
  
  th,#mat {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border: 2px solid black; /* Adds borders around cells */
  }
  
  td {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: center;
    border: 2px solid black;
  }
  #note,#coef{
    text-align: center;
  }
  #note{
    color: green;
  }
  #coef,#numcof{
    color: rgb(104, 103, 103);
  }
  