<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/group.css">
    <title>Group</title>
</head>
<body>
    <div class="con">
        <div class="name1">
            <p>First name:</p>
            <p>{{first_name}}</p>
        </div>
        <div class="name2">
            <p>Last name:</p>
            <p>{{last_name}}</p>
        </div>
        <div class="group">
            <p>Group:</p>
            <p>{{group}}</p>
        </div>
        </div>
       </div> 
</body>
</html>