<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web site of education </title>
    <link rel="stylesheet" href="C:\Users\taki\Hello_Flask\project\Style\style.css">
</head>
<body>
    <header>
        <h1 id="h">Web site of Education</h1>
    </header>
    <main>
        <section id="login1">
            <form action="" id="f">
                <h1 class="lo">Log in as</h1>
                <p>Student</p>
                 <div>
                <label id="l" for=" username">  User Name:</label>
                <i class="fas fa-user" ></i>
                <input type="text" id="username" minlength="4" required>
                </div>
                <div>
                <label for=" password">  Password:</label>
                <input type="password"  id="password" Minlength="8" required>
                </div>
                <!-- <button target="_self" href="{{ url_for('student') }}" type="submit" >Next</button> -->
            </form>
        </section>
        
        <section id="login2">
            <form action="">
                <h1 class="lo">Log in as</h1>
                 <p> administrator </p>
                <label for=" username">  User Name:</label>
                <input type="text" id="username" name="username" minlength="4" required>
                <label for=" password">  Password:</label>
                <input type="password" id="password" Minlength="8" name="password" required>
                <!-- <button target="self" href="{{ url_for('admin') }}" type="submit" >Next</button> -->
            </form>
       
        </section>
        <footer>
            <h1 id="h2">Second year engineer</h1>
        </footer>
      
    </main>
 
</body>
<script src="/javascript/main.js"></script>
</html>
