<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Home</title>
</head>
<body>
   <div class="con">
    <div class="name1">
        <p>First name:</p>
        <p> {{first_name}} </p>
    </div>
    <div class="name2">
        <p>Last name:</p>
        <p> {{last_name}} </p>
    </div>
    <div class="date">
        <p>Date of birth:</p>
        <p> {{date_of_birth}} </p>
    </div>
    <div class="id">
        <p>ID:</p>
        <p> {{id}} </p>
    </div>
    <div class="univ">
        <p>University:</p>
        <p>Batna 2</p>
    </div>
    <div class="spe">
        <p>Speciality:</p>
        <p>Computer Science</p>
    </div>
    <div class="cyc">
        <p>Cycle:</p>
        <p>Engineer</p>
    </div>
    <div class="level">
        <p>Level:</p>
        <p>Second year engineer</p>
    </div>
   </div> 
</body>
</html>