<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/note_ex.css">
    <title>note_examens</title>
</head>
<body>
    <table >
        <thead>
          <tr>
            <th>Subject</th>
            <th id="coef">Coef</th>
            <th id="note">Note for Examen</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
              <td>{{ item.module }}</td>
              <td>{{ item.coef }}</td>
              <td>{{ item.note }}</td>
          </tr>
          {% endfor %}
       
        </tbody>
      </table>
      
</body>
<script src="C:\Users\taki\Desktop\app\static\js"></script>
</html>